# Environment files
.env
.env.local
.env.production

# Node modules
node_modules/

# Logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# SSH / Keys
*.pem
*.key
id_rsa

#files
*.zip
*.tar
*.gz
*.rar
*.7z

# Dependencies
node_modules/

# Logs
*.log
backend/.env  
frontend/.env  
.htaccess


 # Ignore all zip/tar archives
*.zip
*.tar
*.gz
*.7z
*.rar 